.footer-top{
		margin: 0px 20px;
		border-bottom: 1px solid gainsboro;
		height: 50px;
}
.footer-top ul{
	list-style: none;
	margin:10px 50px ;
}
.footer-top ul li{
	float: left;
	margin:10px 40px;
	padding-right: 40px;
	border-right: 1px solid gainsboro;
}
.footer-top ul li:hover{
	color: coral;
}
.footer-top ul li:last-child{
	border:none;
}
.footer-top ul li a{
	font-size: 20px;
}
.footer-body ul:first-child{
	list-style: none;
	margin-left:100px ;
	float: left;
}

.footer-body ul{
	list-style: none;
	margin:10px 20px ;
	float: left;
}
.footer-body ul li h4{
	font-weight: 400;
}
.footer-body ul li a{
	font-size: 12px;
	color: grey;
}
.footer-body ul li a:hover{
	color: coral;
}
.footer-body-right{
	margin-left: 1000px;
	padding: 30px;
}
.footer-body-right{
	text-align: center;
}
.footer-body-right h3{
	color: coral;
	margin-bottom: 10px;
}
.footer-body-right button{
	padding: 10px 30px;
	color: orange;
	border: 1px solid coral;
	background-color: #FFFFFF;
}
.footer-body-right button:hover{
	background-color:coral;
	color: #FFFFFF;
}