.ms{
	width: 1450px;
}
.menu_one{
	width: 300px;
	height: 200px;
	background-color: #5F5750;
	float: left;
}
.menu_one ul{
	padding: 0;
	padding-left: 10px;
	float: left;
}
.menu_one ul li{
	width: 90px;
	height: 90px;
	list-style: none;
}
.menu_one ul li a{
	color: #D1D3D6;
	cursor: pointer;
	text-decoration: none;
}
.menu_one ul li a:hover{
	color: #FAFAFA;
}
.menu_one ul li img{
	width: 30px;
	padding-left:12px ;
}
.menu_two img{
	margin-left:50px;
	margin-right: 30px;
	width: 300px;
	height: 200px;
}